name: Cloud Assignment (Student Repository)

concurrency:
  group: cloud
  cancel-in-progress: false

on:
  workflow_call:
    inputs:
      assignment:
        description: 'Name of the assignment e.g. spamoverflow'
        required: true
        type: string
      deploy:
        description: 'Deploy the terraform'
        required: false
        type: boolean
        default: true
      deployed-url:
        description: 'URL of the deployed instance iff deploy is false'
        required: false
        type: string
      functionality:
        description: 'Run functionality tests against the deployment'
        required: false
        type: boolean
        default: false
      load:
        description: 'Run sample load tests against the deployment'
        required: false
        type: boolean
        default: false
      aws-access-key-id:
        description: 'AWS Access Key ID'
        required: false
        type: string
      aws-secret-access-key:
        description: 'AWS Secret Access Key'
        required: false
        type: string
      aws-session-token:
        description: 'AWS Session Token'
        required: false
        type: string

jobs:
  deploy-local:
    name: Build (Stage 1)
    if: ${{ github.ref_name == 'stage-1' || startsWith(github.ref_name, 'stage-1/') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        shell: bash
        timeout-minutes: 20
        run: |
          ./local.sh

      - name: Collect deployed URL
        shell: bash
        run: |
          echo "TEST_ENDPOINT=$(cat ./api.txt)" >> "$GITHUB_ENV"

  deploy-remote:
    name: Build & Deploy (Stage 2 & 3)
    if: ${{ inputs.deploy && (github.ref_name == 'stage-2' || startsWith(github.ref_name, 'stage-2/') || github.ref_name == 'stage-3' || startsWith(github.ref_name, 'stage-3/')) }}
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-region: us-east-1
          aws-access-key-id: ${{ steps.creds.outputs.aws-access-key-id }}
          aws-secret-access-key: ${{ steps.creds.outputs.aws-secret-access-key }}
          aws-session-token: ${{ steps.creds.outputs.aws-session-token }}
      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@v1

      - name: fmt check
        id: fmt
        run: tofu fmt -check

      - name: Init
        run: tofu init

      - name: Collect deployed URL
        shell: bash
        run: |
          echo "TEST_ENDPOINT=$(cat ./api.txt)" >> "$GITHUB_ENV"

  deploy-already:
    name: Deployed already
    if: ${{ !inputs.deploy && inputs.deployed-url }}
    runs-on: ubuntu-latest
    steps:
      - name: Collect deployed URL
        shell: bash
        run: |
          echo "TEST_ENDPOINT=${{ inputs.deployed-url }}" >> "$GITHUB_ENV"

  deploy-check:
    name: Check Endpoint
    if: ${{ always() && (inputs.deploy || inputs.functionality || inputs.load) }}
    needs: [deploy-local, deploy-remote, deploy-already]
    runs-on: ubuntu-latest
    steps:
      - name: Check
        uses: actions/github-script@v6
        with:
          script: |
            const endpoint = process.env.TEST_ENDPOINT
            if (endpoint === undefined || endpoint == '' ) {
              core.setFailed('Do not have a valid test endpoint');
            } else {
              console.log('Test Endpoint: ' + endpoint);
            }

  functionality:
    name: Test Functionality
    runs-on: ubuntu-latest
    if: ${{ inputs.functionality }}
    needs: deploy-check
    steps:
      - name: Checkout
        uses: actions/checkout@v6

  load-check:
    name: Check Load
    runs-on: ubuntu-latest
    if: ${{ inputs.load }}
    needs: deploy-check
    steps:
      - name: Check
        uses: actions/github-script@v6
        env:
          BRANCH: ${{ github.ref_name }}
          CHECK_VALID_BRANCH: ${{ github.ref_name == 'stage-3' || startsWith(github.ref_name, 'stage-3/') }}
        with:
          script: |
            const branch = process.env.BRANCH
            const validBranch = process.env.CHECK_VALID_BRANCH
            if (validBranch != 'true') {
              core.setFailed('Load tests can only be run on a stage-3 branch, current branch: ' + branch);
            }

  load:
    name: Test Load
    runs-on: ubuntu-latest
    if: ${{ inputs.load && (github.ref_name == 'stage-3' || startsWith(github.ref_name, 'stage-3/')) }}
    needs: [functionality, load-check]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

  destroy-deploy:
    name: Tear Down
    if: ${{ always() && inputs.deploy && github.ref_name == 'stage-2' || startsWith(github.ref_name, 'stage-2/') || github.ref_name == 'stage-3' || startsWith(github.ref_name, 'stage-3/') }}
    needs: [deploy-remote, functionality, load]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6